html, .container-lg {
    color: #fefefe;
    background: #303030;
}

body {
    padding: 1rem 2rem;
}

h1 {
    padding-bottom: 1rem;
}

h1, p {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
}

#alert-box {
    display: none;
}

#res-skeleton {
    display: none;
}

#settings {
    display: none;
}

#copy-btn {
    display: none;
    width: 26%;
    text-align: left;
    text-decoration: none;
}

#copy-success {
    display: none;
    text-align: left;
    text-decoration: none;
    color: #03c203;
}

#form-msg{
    display: none;
    font-size: 130%;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #5bc1e3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
